{% extends "base.html" %}

{% block title %}Consent - University of Exeter Research{% endblock %}

{% block content %}
<div class="container card card-md">
    <div class="document-content">
        <h1>Web privacy for whom: Demographic Vulnerability to browser fingerprinting</h1>

        <div>
            <b>You are being invited to take part in an academic research study.</b><br>
            Before you decide to participate in this study, it is important that you understand why the research is
            being done and what it will involve. Please take the time to read the following information carefully.
        </div>

        <div>
            <h4>Purpose of the research</h4>
            The purpose of the research is to understand if different people are more at risk of being tracked on the
            internet than others.
        </div>

        <div>
            <h4>Who is doing this research?</h4>
            The lead researcher of this study is Alexander Norris, Alexander is an undergraduate student in the
            department of computer science. He can be contacted at <a
                href="mailto:an631@exeter.ac.uk">an631@exeter.ac.uk</a>.
            He is working under Professor Anne Kayem, as his supervisor. Professor Kayem can be contacted at
            <a href="mailto:A.V.Kayem@exeter.ac.uk">A.V.Kayem@exeter.ac.uk</a>.
        </div>

        <div>
            <h4>Why have I been approached?</h4>
            This research aims to have a sample of people that represent users on the internet, this includes people of
            different ages, genders and backgrounds. In order to take part in this study you need to be over the age of
            18 and live in the United Kingdom.
            <br><br>
            This research aims to involve 386 participants.
        </div>

        <div>
            <h4>Ethical review of this Research</h4>
            This study has been reviewed by the University of Exeter Engineering, Mathematics and Physical Sciences
            Research Ethics Committee,
            and received a favourable review. The review reference is 11709297. The contact for the ethics committee,
            Professor Mark Kelson,
            may be contacted by email at <a href="mailto:m.j.kelson@exeter.ac.uk">m.j.kelson@exeter.ac.uk</a>.
        </div>

        <div>
            <h4>Procedures of this study</h4>
            Your role in this study should take no longer than 10 minutes.<br>
            You will be asked 4 questions about your: Age, Gender, Income and Education.<br>
            You will then be asked permission to collect some information about your web browser. You will be shown the
            full list of this information and will be able to decide whether you would like to share it for use in this
            research. If you accept, the website will collect this information automatically. This process stops as soon
            as the website is closed.
        </div>

        <div>
            <h4>Benefits and risks of taking part</h4>
            There is unlikely to be any direct or personal benefit to you in taking part. There may be some benefit to
            society; but this cannot be assured at the start of the research project. There is some risk in taking part
            in this survey. If a data breach occurs, your information may be used by third parties to identify you on
            the internet.
        </div>

        <div>
            <h4>Voluntary participation and your right to withdraw</h4>
            Your participation in this study is entirely voluntary. You are under no obligation to take part, and you
            may stop at any time. If you stop before completing the survey your information will not be saved and you
            will not have completed the survey. Withdrawal after the completion of this survey is possible up to and
            including the 1st of April 2026. This can be done via email request to <a
                href="mailto:an631@exeter.ac.uk">an631@exeter.ac.uk</a>.
            Past this date withdrawal from the study, after completing the online form, will no longer be possible.
        </div>

        <div>
            <h4>Anonymity</h4>
            Your name is not required in this survey. You may enter an email as part of the survey, however this is
            entirely optional. This email will be
            stored in a way that makes it anonymous. There will be questions about some personal characteristics
            including your
            age, gender, income, and education. The information collected about your web browser, may have the
            capability to
            identify you on the internet.
            <br><br>
            After leaving this webpage, you are tracked in no way by this research study.
            <br><br>
            Your data will be accessed by Alexander Norris and Professor Anne Kayem, the data will be stored in a
            Microsoft SharePoint environment which only Alexander Norris and Professor Anne Kayem will have access to.
            Beyond this no other
            parties will have access to your data. The Data Controller for this research is the University of Exeter.
            You may contact the
            Information Governance office of the University of Exeter by emailing <a
                href="mailto:dataprotection@exeter.ac.uk">dataprotection@exeter.ac.uk</a>.
            <br><br>
            <a
                href="https://www.exeter.ac.uk/v8media/universityofexeter/governanceandcompliance/researchethicsandgovernance/UoE_Research_Generic_Privacy_Notice_v1.1_16012020.pdf">University
                of Exeter Data Protection for Research Statement</a>
        </div>

        <div>
            <h4>The Results</h4>
            The collected dataset from this study will not be released to the public. Statistics and results derived
            from the
            dataset will be used in an undergraduate dissertation project which will be publicly available. It will not
            be
            possible to identify individuals who participated in this study from the released results.
        </div>

        <div style="margin-top: 40px; padding-top: 20px; border-top: 1px solid #eee;">
            <h3>Consent</h3>
            <form action="{{ url_for('consent_form') }}" method="POST" style="margin-top: 20px;">
                <label class="checkbox-group">
                    <input type="checkbox" required name="consent_check_1" id="consent_check_1">
                    <span>I have read and understand the information provided above.</span>
                </label>
                <label class="checkbox-group">
                    <input type="checkbox" required name="consent_check_2" id="consent_check_2">
                    <span>I understand that my participation is voluntary</span>
                </label>
                <label class="checkbox-group">
                    <input type="checkbox" required name="consent_check_3" id="consent_check_3">
                    <span>I understand that I may withdraw and stop participating at any time during the survey.</span>
                </label>
                <label class="checkbox-group">
                    <input type="checkbox" required name="consent_check_4" id="consent_check_4">
                    <span>I understand that there will be no negative consequences for withdrawal.</span>
                </label>
                <label class="checkbox-group">
                    <input type="checkbox" required name="consent_check_5" id="consent_check_5">
                    <span>I understand that past the 1st of April 2026 withdrawal from this study will not be
                        possible</span>
                </label>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">I Agree to Participate</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}